.Rhistory

asmall.html
asmall.pdf
asmall.tex

kblom.html
kblom.pdf
kblom.tex

bin/create.ecdf
bin/create.ecdf.common
bin/create.ecdf2
bin/create.histo.hhbracket99
bin/create.histo.hhbracket99-1972
bin/create.histo.hhbracket99-both
bin/create.repro
bin/create.tiles
bin/create.totalincome.distribution
bin/values.ecdf
bin/values.iecdf
bin/create.tidistr
bin/lookup
bin/lookup-one
bin/create.tidistrbybracket
bin/create.tincdistrbybracket
bin/looking.ecdf
bin/looking.replot
bin/looking.tiles
     
lib/kbcode.js
lib/kbstyle.css

images/DPCIA2AUQAEO0lv-small.jpg

ipums/cps_00006.csv.gz


graphs/ecdf.pdf
graphs/ecdf.png
graphs/ecdf2.pdf
graphs/ecdf2.png
graphs/histo.hhbracket99-1972.pdf
graphs/histo.hhbracket99-1972.png
graphs/histo.hhbracket99-both.pdf
graphs/histo.hhbracket99-both.png
graphs/totalincome.distribution.pdf
graphs/totalincome.distribution.png
graphs/repro.pdf
graphs/repro.png
graphs/tidistr.pdf
graphs/tidistr.png
graphs/tincdistrbybracket.pdf
graphs/tincdistrbybracket.png