.Rhistory

asmall.html
asmall.pdf
asmall.tex

kblom.html
kblom.pdf
kblom.tex

create.ecdf
create.ecdf.common
create.ecdf2
create.histo.hhbracket99
create.histo.hhbracket99-1972
create.histo.hhbracket99-both
create.repro
create.tiles
create.totalincome.distribution
values.ecdf
values.iecdf
create.tidistr
lookup
lookup-one

ipums/cps_00006.csv.gz


ecdf.pdf
ecdf.png
ecdf2.pdf
ecdf2.png
histo.hhbracket99-1972.pdf
histo.hhbracket99-1972.png
histo.hhbracket99-both.pdf
histo.hhbracket99-both.png
totalincome.distribution.pdf
totalincome.distribution.png
repro.pdf
repro.png
tidistr.pdf
tidistr.png