.Rhistory

asmall.html
asmall.pdf
asmall.tex

create.ecdf
create.replot
create.tiles

ipums/cps_00006.csv.gz

replot.pdf
replot.png

create.ecdf.common
create.ecdf2
ecdf.pdf
ecdf.png
ecdf2.pdf
ecdf2.png
